{%extends 'base.html'%}
{% block content%}
<div class="container" style="margin-top: 60px;">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h3 class="card-title">About Us</h3>
            <hr>
            <p class="card-text">
                Cosmo Juris is a student-driven online platform for Law students, researchers, scholars and enthusiasts
                which seeks to bring Legal Fraternity together. We acknowledge, and encourage the legal fraternity to
                come up with their research articles in the form of blogs and thereby provide them with a one-stop
                platform to express their Knowledge. We have a full-fledged team of writers and Editors who brings to
                you Information related to various legal developments, and opportunities for law students. We believe in
                providing Law students and researchers with our exclusive contents and opportunities which will keep
                them Updated with the legal arena.
                Our paramount objective is to enlighten our readers/viewers with a catena of information related to
                various aspects of legal developments and enticing opportunities so that no student is left behind in
                this dynamic field of law. With this aim, we bring to our viewers' details of competitions like Moot
                court competitions, Debate competitions, client counselling competitions, Memorial-drafting
                competitions, Essay competitions, MUNs and other related competitions.
                Cosmo Juris has a sole objective to ingrain in the law students and professionals the credible law
                contents and facilitate them with the various available opportunities. Hence, We aim at bringing in the
                holistic development of law students and any individuals related to legal arena and to serve as the
                ‘Platform’ for all the Law colleges and related organizations entities and Individuals in India.
                Help us serve the law students and legal fraternity. Any feedback or suggestion will be appreciated.

            </p>
        </div>
    </div>
</div>
{% endblock %}