{% extends 'base.html'%}
{% block content %}
<div class="container" style="margin-top: 80px;">
    <h1 class="display-4">Advisory Board</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{url_for('static',filename='images/abc.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Author Name</h5>
                    <p class="card-text">Description
                        content.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

{% endblock %}