{% extends 'base.html'%}

{% block content%}
{% include 'includes/carousel.html'%}
<br>
<div class="container">
    <!-- <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Why Cosmo Juris</h5>
            <p class="card-body" id="cosmos_full_info" style="text-align: justify; text-justify: inter-word;">
                {{data[:700]}}...
            </p>
            <button class="btn btn-primary" id="hide_details_info" style="visibility: hidden;">Hide Details</button>
            <button class="btn btn-danger" style="margin-left: 33%;" id="cosmos_info" value="{{data}}">Read
                More</button>
        </div>
    </div> -->

    <!-- What's New -->
    <div class="container">
        <marquee>Site under Construction</marquee>
        <div class="card" style="background-color: #0F1E40;">
            <div class="card-body">
                <h3 class="card-title text-center text-white">News Room</h3>
                <hr>
                <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                    {% if event_notice %}
                    {% for event in event_notice %}
                    <a href="{{event.val()['event_url']}}" target="_blank">
                        <p class="text-center text-white" style="text-align: justify; text-justify: inter-word;">A
                            {{event.val()['event_name']}} is sechudled on {{event.val()['event_date']}}
                            at {{event.val()['event_time']}} registration starts from {{event.val()['event_reg_start']}}
                            and
                            end {{event.val()['event_reg_end']}}
                        </p>
                    </a>
                    {% endfor %}
                    {% endif %}
                </marquee>
            </div>
        </div>
    </div>
    <!-- Submit Your Paper -->
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="background-color: #0F1E40; height: 250px;" >
                <div class="card-body">
                    <h3 class="card-title text-white">Our Guide Lines</h3>
                    <a href="#">
                        <p class="text-white">Please check our guidelines here, before proceeding</p>
                    </a>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4">
            <div class="card" style="background-color: #0F1E40; height: 250px;" >
                <div class="card-body">
                    <h3 class="card-title text-white">Blogs</h3>
                    <a href="{{url_for('blogs')}}">
                        <p class="text-white">Check out the blogs here</p>
                    </a>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4">
            <div class="card" style="background-color: #0F1E40; height: 250px;" >
                <div class="card-body">
                    <h3 class="card-title text-white">Research Paper</h3>
                    <a href="#">
                        <p class="text-white">Check out the research papers here</p>
                    </a>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4">
            <div class="card" style="background-color: #0F1E40; height: 250px;" >
                <div class="card-body">
                    <h3 class="card-title text-white">Submit Your Work</h3>
                    <p class="card-text text-white">Hey there, Csomo Juris Invites you all to publish your research work</p>
                    <a href="#"><button class=" justify-center btn btn-primary">Submit Now</button></a>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #0F1E40; height: 250px;" >
                <div class="card-body">
                    <h3 class="card-title text-white">Having Issues submitting??</h3>
                    <p class="card-text text-white">Either write down your issues to our help desk</p>
                    <p class="text-white">or</p>
                    <p class="text-white">Email us at: <a class="text-primary text-white" href="mailto:cosmojuris@gmail.com"
                            style="text-decoration: none;">cosmojuris@gmail.com</a></p>
                </div>
            </div>
            <br>
        </div>
    </div>

    <br>
    <!-- Submission Process -->
    <div class="text-center">
        <h3 class="d-flex justify-content-center">Publication Process</h3>
        <img class="img-fluid" src="{{url_for('static',filename='images/PUBLICATION-PROCESS-HOME.jpg')}}"
            alt="publication process">
    </div>

    <!-- Search Bar -->


    <!-- Certification and Student credits -->

    <br>

    <div>
        <h2 class="text-center" style="font-weight: bold;">Recent Blogs</h2>
        <div class="row">
            {% if blog_preview %}
            {% for blog in blog_preview.each() %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static',filename='images/caro1.jpg')}}" alt="Description">
                    <div class="card-body">
                        <h3 class="card-title">{{blog.val()['title']}}</h3>
                        <p class="card-text">{{blog.val()['description']}}</p>
                        <hr>
                        <small>Author: {{blog.val()['blog_author']}}</small>
                        <p><small>Last Updated: {{blog.val()['last_updated']}}</small></p>
                        <a href="{{url_for('view_details',key=blog.key())}}"
                            style="text-decoration: none; color: white;">
                            <button class="btn btn-primary">Details </button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="{{url_for('index',more=n+5)}}"><button class="btn btn-primary">View More</button></a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <br>
    <!-- Feedback Form -->
    <div class="container">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body" style="background-color: #918888;">
                <h3 class="card-title">Help Desk</h3>
                <hr>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" name="subject" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="" cols="30" rows="10" placeholder="type your message here..."
                            class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="feedback" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
<br><br>

<script>

    document.getElementById("cosmos_info").addEventListener("click", () => {
        const data = document.getElementById("cosmos_info").value;
        document.getElementById("cosmos_full_info").innerHTML = data;
        document.getElementById("hide_details_info").style.visibility = "visible"
        document.getElementById("cosmos_info").style.visibility = "hidden"
    })

    document.getElementById("hide_details_info").addEventListener("click", () => {
        const data = document.getElementById("cosmos_full_info").innerHTML;
        const sub_data = data.substr(0, 650);
        document.getElementById("cosmos_full_info").innerHTML = sub_data;
        document.getElementById("hide_details_info").style.visibility = "hidden"
        document.getElementById("cosmos_info").style.visibility = "visible"
    })

</script>
{% endblock %}